.env
.env.*
!.env.example

node_modules/
dist/
build/

*.log
logs/
.dev/

*.db
*.db-*
backend/prisma/dev.db
backend/firebase-service-account.json
*firebase-adminsdk*.json
firebase-service-account*.json

*.zip
